 .star{
        color: red;
    }
	*{
		margin: 0;
		padding: 0;
	}
	.rate {
		float: left;
		height: 46px;
		text-align:left ;
	}
	.rate:not(:checked) > input {
		position:absolute;
		top:-9999px;
	}
	.rate:not(:checked) > label {
		float:right;
		width:1em;
		overflow:hidden;
		white-space:nowrap;
		cursor:pointer;
		font-size:30px;
		color:#ccc;
	}
	.rate:not(:checked) > label:before {
		content: '★ ';
	}
	.rate > input:checked ~ label {
		color: #ffc700;    
	}
	.rate:not(:checked) > label:hover,
	.rate:not(:checked) > label:hover ~ label {
		color: #deb217;  
	}
	.rate > input:checked + label:hover,
	.rate > input:checked + label:hover ~ label,
	.rate > input:checked ~ label:hover,
	.rate > input:checked ~ label:hover ~ label,
	.rate > label:hover ~ input:checked ~ label {
		color: #c59b08;
	}
	

	 .form-row{
		 display: flex;
		 display:-webkit-flex; 
		 gap: 30px;
	 }
  
		.form-control {
			text-align: left;
			margin-bottom: 25px;
		}

		
		.form-control label {
			display: block;
			margin-bottom: 10px;
		}

		
		.form-control input,
		.form-control select,
		.form-control textarea {
			border: 1px solid #777;
			border-radius: 2px;
			font-family: inherit;
			padding: 10px;
			display: block;
			width: 70;
		}

	

		.over{
		    position: absolute;
    top: 250px;
		}


table {
position: absolute;
top: 300px;
border-collapse: collapse;
  }
  .satis{
	  position: absolute;
	  top: 270px;
	  
  }
  .like{
	position: absolute;
    top: 433px;
  }
  td {
	width: 150px;
	text-align: -webkit-center;
    padding: 5px;
  }
.tr1 {
	background-color:rgb(220, 220, 220) ;
}
.tr3 {
	background-color:rgb(220, 220, 220) ;
}
.tab2{
	
	position: absolute;
    top: 465px;
    
}
.comments{
	position: absolute;
	top: 625px;
}
